body {
    background-color: #e4f9f5;
    background-image: url("https://www.transparenttextures.com/patterns/escheresque.png");
    color: #40514e;
    margin: 0;
    
    /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
  }
  @import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition: all 200ms;
}

.slide-in-left-exit {
  transform: translateX(0%);
  opacity: 1;
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 200ms;
}

.center {
  margin: auto;
  width: fit-content;
  text-align: center;
  /* display: flex; */
  justify-content: center;
  align-items: center; 
}